#edit-field-courses-und,
#edit-field-common-courses-und {
  display: none;
}

#ndla_grep_common_courses_aim_select,
#ndla_grep_courses_aim_select {
  margin-bottom: 20px; 
}

.aim-list-item:hover {
  cursor: pointer;
}

.aim-list-item.active {
}

.ndla-course-selector {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.ndla-course-selector .left {
  border-right: 1px solid #ccc;
  background-color: #f2f2f2;
  width: 300px;
  float: left;
  padding: 5px 10px 5px 0;
}

.ndla-course-selector .left i.fa {
  float: right;
}

.ndla-course-selector .left ul {
  padding-left: 10px;
}

.ndla-course-selector .left ul.hidden {
  display: none;
}

.ndla-course-selector .left li {
  padding: 5px 0;
}

.ndla-course-selector .right {
  padding: 10px;
  padding-left: 310px;
}

.ndla-course-selector .right b {
  display: block;
  background-color: #d5d5d5;
  border: 1px solid #ccc;
  padding: 5px;
}

.page .node-form .ndla-course-selector .right label {
  display: inline;
  font-weight: normal;
}

.ndla-course-selector .right li {
  padding: 10px;
}

.ndla-course-selector .right li:hover {
  background-color: #f2f2f2;
}

.ndla-course-selector .right .fa-spinner {
  color: #666;
  font-size: 24px;
  margin: 10px;
}

#ndla_grep_courses_aim_selected div,
#ndla_grep_common_courses_aim_selected div {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 0;
}

#ndla_grep_courses_aim_selected div ul,
#ndla_grep_common_courses_aim_selected div ul {
  margin: 0 10px;
}

#ndla_grep_courses_aim_selected div ul ul,
#ndla_grep_common_courses_aim_selected div ul ul {
  padding-bottom: 5px;
  padding-top: 5px;
}


#ndla_grep_courses_aim_selected div > ul > li > span,
#ndla_grep_common_courses_aim_selected div > ul > li > span {
  background-color: #d5d5d5;
  display: block;
  padding: 5px;
}