div#header {
  background-color: #2666a6;
  *zoom: 1;
}
div#header:before, div#header:after {
  content: " ";
  display: table;
}
div#header:after {
  clear: both;
}
div#header #logo {
  margin: 10px 0 9px 10px;
  float: left;
  height: 31px;
}
div#header nav#navigation {
  float: right;
}
div#header nav#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div#header nav#navigation ul li {
  float: left;
  position: relative;
}
div#header nav#navigation ul li a {
  text-decoration: none;
}
div#header nav#navigation ul li .fa-sign-in {
  margin-right: 5px;
}
div#header nav#navigation ul li.submenu #user-icon {
  padding-right: 5px;
  display: inline;
}
div#header nav#navigation ul li.submenu #user-icon img {
  vertical-align: middle;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
div#header nav#navigation ul li.submenu > span, div#header nav#navigation ul li a {
  color: white;
  display: inline-block;
  float: left;
  line-height: 50px;
  padding: 0 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#header nav#navigation ul li.submenu > span:hover, div#header nav#navigation ul li a:hover {
  background-color: #1e5285;
}
div#header nav#navigation ul li.submenu > span i, div#header nav#navigation ul li a i {
  color: white;
  font-size: 18px;
  position: relative;
  top: 1px;
  margin-right: 8px
}
div#header nav#navigation ul li.submenu.open > span {
  background-color: #1e5285;
}
div#header nav#navigation ul li.submenu.open .dropdown {
  display: block;
}
div#header nav#navigation ul li.submenu.open .dropdown li {
  white-space: nowrap;
}
div#header nav#navigation ul li.submenu.subjects.open .dropdown li {
  clear: both;
}
div#header nav#navigation ul li.submenu.open .dropdown li a {
  color: white;
}
div#header nav#navigation ul li.submenu.open .dropdown li i {
  margin-right: 10px;
}
div#header nav#navigation ul li .dropdown {
  background: #1e5285;
  display: none;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 10;
}
div#header nav#navigation ul a.button,
div#header nav#navigation ul a.button:hover {
  background-color: #2666a6;
}

div#header nav#navigation ul li.submenu > span i.fa-user {
  margin-right: -2px;
}