body a.ndla-contact-button {
  line-height:14px;
  height:14px ;
  top:auto;
  bottom:170px;
  position:fixed;
  background:none repeat scroll 0% 0% #E55525;
  border-radius:0px;
  border:0px;
  color:#fff;
  z-index:10000;
  box-shadow:0px 0px 0px;
  padding:10px;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  left: 100%;
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -moz-transform-origin: top left;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: top left;
  text-align: center;
  width:85px;
  -webkit-backface-visibility: hidden;
}

body a:link.ndla-contact-button {
  color:#fff;
}