#edit-parse {
  margin-right: 4px;
}

#ndla-wiris-throbber {
  background-image: url('../../../../../../misc/throbber.gif');
  padding-right: 10px;
  display: inline;
  background-repeat:no-repeat;
  padding-right: 25px;
}

#ndla-wiris-throbber.loading { 
  background-position: 0 -20px;
}