@charset "UTF-8"
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$main-color: #F07B05
$dark-orange: darken($main-color, 5%)

$light-grey: #EEEEEE
$dark-grey: #919498

$dark-grey-text: #656565
$link-text: #2555e5

$black: #111111
$white: #FFFFFF
$font-stack: 'Open Sans',Arial,sans-serif
$header-font-stack: 'Open Sans',Arial,sans-serif
$site-width: 940px

@import "../../fyr/sass/_mixins.sass"
@import "../../fyr/sass/_form.sass"

/* Change to deling colors */
.navigation-banner
  background-color: $main-color
  nav
    .navigation-banner-seperator
      border-left: 30px solid $main-color
      &.white-to-orange
        background-color: $main-color

      
    .find
      .block-ndla-resource-map-resource-map-link
        background-color: $dark-orange
      .block-search-api-page-search-page
        #autocomplete 
          li.selected
            background-color: $main-color
    .share
      .login-link
        background-color: $main-color
      input[type="submit"]
        background-color: $main-color

.front footer[role="contentinfo"]
  background-color: $light-grey

body.front 
  #main-content
    overflow: hidden
    position: relative
    h1
      display: none


.deling.front,
.deling
  .content_bottom
    a.arrow-button
      background-color: $main-color
      div
        border-left: 10px solid $main-color

body a.ndla-contact-button
  background-color: $main-color !important

body.page-resource-map
  div.item
    background-color: $main-color

.page
  article
    footer
      color: $dark-grey
      .node-unpublished
        background-color: $main-color

ul.primary.tabs
  li
    background-color: $light-grey
    &:hover
      background-color: darken($light-grey, 20)
    a
      &:hover
        background-color: darken($light-grey, 20)
    &.active
      &:hover
        background-color: darken($main-color, 20)
      background-color: $main-color
      a
        &:hover
          background-color: darken($main-color, 20)

/* end changing deling colors */

.deling .tabs
  position: relative
  
.deling ul.top-authors
  li.last
    margin-bottom: 50px

.front .content_bottom_wrapper
  background-color: $white

  .block-ndla-share-top-authors-global
    margin-left: 0

.front .content_bottom .block .title
  +headertext(16px, 100)
  border-bottom: 3px solid $light-grey


.current-search-item-text
  display: none

a.facet-deactivate
  display: inline-block
  &:hover
    &:before
      color: $black
  &:before
    color: $main-color
    margin-top: 2px
    margin-right: 5px
    +fontawsome('\f00d')

.page-search .sidebar-left h2
  background: $main-color
  padding-left: 20px
  padding-right: 20px
  padding-top: 10px
  padding-bottom: 10px
  color: $white
  border-bottom: none
  .top-authors
    display: inline
    width: auto
    float: none
    
  > div h2
    border-bottom-color: #eeeeee
    border-bottom-style: solid
    border-bottom-width: 3px
    color: #111111
    font-family: "Open Sans",Arial,sans-serif
    font-size: 16px
    font-weight: 100
  
  a.arrow-button
    margin-top: 20px
    padding: 0 0 0 10px
    display: block
    color: white
    background-color: $main-color
    height: 30px
    line-height: 30px
    display: inline-block
    bottom: 20px
    width: 280px
    
    div
      box-sizing: border-box
      height: 0
      width: 0
      float: right
      border-top: 15px solid white
      border-left: 10px solid $main-color
      border-right: 0
      border-bottom: 15px solid white

a.ndla-contact-button
  background-color: $main-color !important

.siteinfo
  hgroup
    h1
      line-height: 0
    h2
      clear: both
      margin-top: 0

.deling
  .sidebar-right
    height: auto


.deling.front .content_bottom_wrapper .block-ndla-share-top-authors-global
  margin-left: 0

.deling.node-type-frontpage
  .tabs
    position: relative

.page
  .node-form
    .form-wrapper
      .form-type-checkbox
        label
          display: inline-block