.form-item-hidden-users {
  display: none;
}

.ndla-communication-room-message-column {
  float: left;
  width: 40%;
}

.ndla-communication-room-message-column select {
  width: 100%; 
}

.ndla-communication-room-message-column.buttons {
  text-align: center;
  margin-top: 90px;
  width: 20%;
}

.form-item-subject {
  clear: both;
}