@charset "UTF-8"
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass"
@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "_mixins.sass"

body
  margin: 0
  background-color: $white
  a, a:link
    color: $link-text
    &:hover
      text-decoration: none
  ul
    margin: 0
    padding: 0

header[role="banner"], footer[role="contentinfo"], div.page
  width: $site-width

header
  padding: 20px 0 20px 0
  +headertext
  *
    float: left
  .siteinfo
    width: 100%
    figure
      padding-right: 20px
    h2
      margin: 32px 0 0 0
      padding: 0
      font-weight: 200

.navigation-banner
  background-color: $main-color
  height: 100px
  nav
    width: $site-width + 200
    margin: 0 auto
    .navigation-banner-seperator
      float: left
      width: 0
      height: 0
      border-top: 50px solid transparent
      border-bottom: 50px solid transparent
      border-left: 30px solid $main-color
      background-color: $light-grey
      &.white-to-orange
        background-color: $main-color
        border-left: 30px solid $light-grey
    .find,.share
      &.find
        width: 50%
      &.share
        width: 35%
      width: 42.7%
      float: left
      height: 100px
      padding: 0
      +headertext
    .find
      margin-left: 100px
      color: #FAFFFF
      font-weight: 400
      margin-top: 27px
      .form-item
        padding: 0
        margin: 0
      h2
        +headertext
        color: $white
        margin: 0
        padding: 0
        font-weight: 400
        -webkit-font-smoothing: antialiased
      .block-ndla-resource-map-resource-map-link, .block-ndla-grep-fyr-ndla-grep-fyr-aims-link
        &.block-ndla-resource-map-resource-map-link
          width: 125px
          &:before
            +fontawsome('\f0e8')
            color: $white
            font-size: 16px
        float: right
        display: block
        background-color: $dark-orange
        height: 50px
        width: 165px
        padding: 16px 0 5px 15px
        margin-left: 10px

        &:before
          +fontawsome('\f002')
          color: $white
          font-size: 16px
        a
          +headertext(14px)
          font-weight: 400

          -webkit-font-smoothing: antialiased
          color: $white
      .block-search-api-page-search-page
        input
          float: left
          border: 0
          padding: 5px 0 5px 15px
          margin: 0
          width: 195px
          height: 40px
          font-weight: 400
          -webkit-font-smoothing: antialiased
        #edit-submit-2
          margin: 0 0 0 -5px
          padding: 0
          float: left
          height: 50px
          width: 50px
          text-indent: -9999px
          overflow: hidden
          border: 1px solid #eaeaea
          border-left: 0
          background: url(/sites/all/themes/fyr/images/search-btn.png) no-repeat 50% 50% white
        .form-autocomplete
          background: none
          background-color: $white
        #autocomplete
          width: 480px
          li
            padding: 5px
            opacity: 0.9
          li.selected
            background-color: $main-color
    .share
      background-color: $light-grey
      .block-ndla-share-share-shortcuts
        margin-top: 28px
      .login-link
        overflow: hidden
        height: 20px
        width: 225px
        background-color: $main-color
        color: $white
        font-weight: 400
        padding: 15px
        margin: 0 0 0 40px
        float: left
        -webkit-font-smoothing: antialiased
        &:after
          +fontawsome('\f090')
          overflow: none
          color: $white
          font-size: 2.5em
          float: right
          height: 50px
          padding: 0
          margin: -9px -3px 0 0

      input[type="submit"]
        margin: 0
        padding: 0
        float: left
        height: 50px
        width: 80px
        overflow: hidden
        border: 0
        border-left: 0
        background-color: $main-color
        color: $white
        font-weight: 400
      .chosen-container
        margin: 0 0 0 20px
        float: left
        .chosen-drop
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
          width: 250px
          border-radius: 0
          border: none
          border-left: 1px solid $light-grey
          border-right: 1px solid $light-grey
        .chosen-results
          li
            border-bottom: 1px solid $light-grey
            background: $white
            line-height: 40px
            +headertext
            &:hover
              background-color: $light-grey
            &:first-child
              display: none
      .chosen-single
        float: left
        border: 0
        padding: 5px 0 5px 0
        width: 250px
        height: 40px
        border-radius: 0
        box-shadow: none
        color: $light-grey
        background: $white
        span
          margin-left: 15px
          line-height: 40px
          +headertext
        div
          line-height: 50px
          width: 25px
          top: 3px
        div b
          background: none
          background-image: none
          &:before
            +fontawsome('\f107')
            color: $dark-grey
            font-size: 2em
      .chosen-with-drop
        .chosen-single
          div b
            &:before
              +fontawsome('\f106')



// PAGE
div[role="main"]
  padding: 0

.page
  border: 0
  h1
    +headertext(21px)
    margin: 0
    padding: 0
    border-bottom: 5px solid $light-grey
    margin-bottom: 10px
  footer
    .comments
      display: none

  article
    +normaltext(14px)
    h2
      +headertext(1.5em, bold)
      a
        color: $black
        &:active
          color: $black
    h3
      +headertext(1.17em, bold)
    footer
      +normaltext(12px)
      color: $dark-grey
      .node-unpublished
        color: $white
        background-color: $main-color
        padding: 3px
        +border-radius(3px, 3px)
    .content
      +normaltext(14px)
      ol,ul
        margin: 0.5em 0
        padding: 0 0 0 40px
        font-size: 14px
        > ol, > ul
          margin: 0
        li
          +normaltext(14px)
      ul li
        list-style: disc outside none
    .field
      &.hidden
        display: none
      margin: 20px 20px 20px 0
      border-bottom: 1px solid $light-grey
      label
        +headertext
        font-weight: 900
        margin-bottom: 10px
        display: block
        +clearfix
      p,span
        font-size: 14px
        color: $black
        font-family: "Open Sans Regular",Arial,sans-serif
        margin: 0.5em 0
        padding: 0
        line-height: 1.5em
        +clearfix
      a
        font-size: 14px
      a[target="_new"]
        &:before
          +fontawsome('\f0c1')
          margin-left: 3px
          margin-right: 3px
      .file
        +normaltext(14px)
        padding: 5px

  .views-field-field-link
    a
      &:before
        +fontawsome('\f0c1')
        margin-left: 3px
        margin-right: 3px

.node-unpublished
  background-color: $white

ul.primary.tabs
  border: 0
  margin: 0
  padding: 0
  li, a
    border: 0
    margin: 0
    padding: 0
    background: none
  li.active a
    border: 0
    background: none


ul.primary.tabs
  border: 0
  overflow: hidden
  //display: inline
  padding: 5px 0
  margin: 15px 0

  li
    background-color: $light-grey
    &:hover
      background-color: darken($light-grey, 20)
    color: $black
    padding: 10px
    margin-right: 10px
    a
      color: $black
      &:hover
        background-color: darken($light-grey, 20)
    &.active
      &:hover
        background-color: darken($main-color, 20)
      background-color: $main-color
      a
        color: $white
        &:hover
          background-color: darken($main-color, 20)
  li:last-child
    margin: 0

.metadata
  margin-bottom: 20px


#main-content
  width: 640px
  float: left

.content_pre
  position: relative
  display: block
  line-height: 1em
  float: right
  margin: 0
  padding: 0
  width: 200px
  font-size: 18px
  > div
    margin-left: 12.5px
  a, .fa-stack
    position: relative
    float: right
    color: $black
    margin: 0 0 0 10px
  .fa-stack
    font-size: 18px
    width: 14px
    height: 14px
    line-height: 1em
    position: relative
    float: right
    padding: 0
  .fa-stack-1x
    position: aboslute
    width: auto
  .print_html
    display: block
    a:before
      +fontawsome('\f02f')
      color: $black
    img
      display: none
  .block-ndla-share-share-secret-link
    display: block
    position: relative
    float: right

.sidebar-right
  float: right
  width: 280px
  margin: 0
  padding: 0
  h2
    +headertext(18px, 300)
    margin: 0
    padding: 5px 0 5px 0
  div > .views-field
    +headertext(12px, 200)
    color: $dark-grey-text
    background-color: $light-grey
    padding: 15px
    margin-bottom: 10px

    margin-top: 0px

    img
      max-height: 40px
      padding: 5px
    a
      font-weight: 400
      color: $dark-grey-text
  .block-ndla-usergroups-ndla-usergroups-approved-by,.block-ndla-usergroups-ndla-usergroups-approve
    ul
      +headertext(12px, 200)
      color: $dark-grey-text
      background-color: $light-grey
      padding: 15px
      margin-bottom: 10px
      span
        display: block
        float: left
      li
        background-color: $white
        padding: 6px
        margin: 5px 0
        font-size: 14px
        overflow: hidden
        position: relative
        img
          float: left
          padding-right: 5px
        a
          color: $black
          line-height: 19px
          float: left
        .remove_approval
          position: absolute
          top: 3px
          right: 0
          display: block
          float: right
          font-size: 12px
          padding: 3px
          margin: 0
          background-color: $dark-grey
          a
            color: $white
            padding: 0
            &:before
              margin-right: 3px
              +fontawsome('\f00d')
  .block-ndla-usergroups-ndla-usergroups-commoncourse
    div > li
      margin: 10px 0
    .count
      font-size: 10px
      font-weight: 100
      margin: 0 7px 0 3px
      color: $dark-grey


#all-courses-list
  padding: 0
  margin: 0 auto
  margin-bottom: 20px
  width: $site-width - 20px
  +clearfix
  margin-bottom: 30px
  .common-course-header
    border-bottom: 2px solid $light-grey
    +clearfix
    img
      height: 50px
      float: left
      margin-bottom: 2px
    span
      +headertext
      float: left
      margin-left: 10px
      margin-top: 32px

  .common-course
    padding: 0
    ul li
      padding: 10px 0px
      a
        +headertext(13px, 400)
        position: static

.content_bottom
  +center
  +clearfix
  margin-bottom: 25px

.front .content_bottom_wrapper
  background-color: $light-grey
  padding: 5px 0

.front .content_bottom
  .title
    margin-bottom: 5px
    +headertext
    font-weight: 600

.front .content_bottom div.item-list
  padding: 10px 0 10px 0
  margin: 0
  clear: both

  a
    padding: 0 5px 0 5px
    line-height: 20px
    text-decoration: none
    +normaltext
    font-size: 15px
    font-weight: 400
  img
    width: 16px
    height: 16px
  ul
    li
      display: block
      float: left
      background-color: $white
      padding: 8px
      margin: 0 10px 5px 0
      a
        color: $black

.front footer[role="contentinfo"]
  background-color: white

.height-transition
  +transition-property("height")
  +transition-duration(0.5s)

body.deling .block.block-ndla-grep-deling-ndla-grep-deling-competence-aims,
.block-ndla-grep-fyr-ndla-grep-fyr-competence-aims
  background: $light-grey
  padding: 15px 15px 15px 15px
  position: relative
  .title
    +headertext(14px, 400)
    margin-bottom: 3px
  .subtitle
    +headertext(12px, 100)
    color: #656565
    margin-bottom: 2px
  & > ul
    margin: 0
    padding: 0
    margin-bottom: 20px
  .bottom_fader
    position: absolute
    margin: 0
    bottom: 0px
    left: 0px
    width: 100%
    padding: 0 0 0 0
    z-index: 20
    .transparent
      +opacity(0.8)
      height: 50px
      width: 100%
      background-color: $light-grey
      margin-bottom: -34px
      z-index: 100
    a
      position: relative
      display: block
      background-color: $dark-grey
      width: 90px
      padding: 5px 5px
      margin-left: 10px
      margin-bottom: 5px
      +headertext
      color: $white
      z-index: 100

  .item-list ul li
    +headertext(12px, 100)
    margin: 10px 0 0 0
    padding: 0
    &.aims
      list-style: circle
      margin: 5px 0 5px 15px
    .aim
      color: black
      display: block



.ndla-socialmedia,
.block-ndla-feedback-feedback
  #feedback-recommend
    float: left
    .ndla-btn2-content
      padding: 0
      +normaltext(14px)
      img
        padding: 0 4px
  #recommend-count
    border: 1px solid #cccccc
    float: left
    border-left: 0 none
    padding: 3px 7px 3px 5px
    background: url(/sites/all/themes/fyr/images/footer_bg.png) repeat-x scroll 0 0 #fcfeff
    color: #222222

  #recommend-arrow
    background: url(/sites/all/themes/fyr/images/talk_arrow.png) no-repeat center center
    height: 24px
    width: 7px
    float: left
    margin-left: 2px
  #google-plusone-content, #facebook-like-content
    display: inline
    float: left
    padding: 0 4px
    margin: 0 4px
    content: ""
    border-left: 1px solid $light-grey
  #google-plusone-content
    width: 80px
  #facebook-like-content
    width: 40%
  #twitter-like-content
    float: left
    width: 100px
  #comment-section
    width: 100%
    clear: both
    padding-top: 20px
    #comment-buttons
      height: 40px
    .comment
      background-color: lighten($light-grey, 2%)
      padding: 10px
      margin: 10px 0
      +border-radius(8px, 8px)
      .comment-reply
        margin-top: 10px
        margin-left: 7px
        padding-left: 7px
        border-left: 1px solid $dark-grey
    h2
      +headertext(16px)
      border-bottom: 2px solid $light-grey
    h3
      +headertext(16px)
      padding: 0
      margin: 0
    .submitted
      margin: 0
      padding: 0
      +normaltext(12px)
      color: $dark-grey
    p
      +normaltext(12px)
      color: $dark-grey-text
    .answer-button .ndla-btn2-content
      &:before
        +fontawsome('\f075')
    #flag-comment-button .ndla-btn2-content
      &:before
        +fontawsome('\f024')
    #all-comments-button .ndla-btn2-content
      &:before
        +fontawsome('\f086')
    a .ndla-btn2-content
      &:before
        +fontawsome('\f040')
        padding: 4px 6px 4px 6px
        margin: 0
        color: $main-color
        font-size: 1em
      &:hover
        text-decoration: none
      height: 20px
      +normaltext(12px, 100)
      text-decoration: none
      color: $main-color
      padding: 4px 8px 4px 4px
      margin: 0
      margin-right: 5px
      border: 1px solid $main-color
      +border-radius(5px, 5px)

.ndla-socialmedia
  #google-plusone-content
    border-left: none
    margin-left: 0

footer[role="contentinfo"]
  width: 100%
  background-color: $light-grey
  text-align: left
  .container
    +center
    +clearfix
    p, a
      +headertext
      font-size: 14px
      font-weight: 400
      line-height: 170%
      text-align: left
      margin: 25px 0 25px 0
    .block-block-1
      width: 640px
      float: left
    nav
      width: 200px
      float: left
    nav > ul
      margin: 25px 0 0 0
      padding: 0

ul.links.inline
  display: block
  padding: 0
  margin: 0
  margin-top: 5px


.node-type-common-course, .deling.node-type-frontpage
  .page h1
    width: 940px
  .block-ndla-grep-fyr-ndla-grep-fyr-courses
    background-color: $light-grey
    padding: 0
    margin: 0
    width: 620px
    height: 530px
    overflow: hidden

  h3
    +headertext(13px)
    color: $dark-grey-text
    padding: 20px 0 7px 20px
    margin: 0
  #courses-list
    padding: 0 0 20px 20px
    ul li
      padding: 7px 0px
      a
        +headertext(13px, 600)
        position: static
  ul.primary.tabs
    margin: 10px
  .tabs
    position: absolute
  .main
    position: relative
  .sidebar-right
    float: left
    width: 300px
    margin: 40px 0 0 0
    padding: 0
    background-color: $light-grey
    height: 530px
    overflow: hidden
    .views-summary
      color: $dark-grey
      font-weight: 100
      font-size: 12px
    & > div
      margin: 0 0 1px 0
      border-bottom: 2px solid $white
      padding: 0 20px 20px 20px
      &:last-child
        border-bottom: none
      h2
        +headertext(12px)
        color: $dark-grey-text
        padding-top: 20px
      a
        margin: 0
        padding: 0
        color: #111
        +headertext(14px, 600)
        padding: 10px 0 0 0
      li
        padding: 5px 0
        margin: 0
        color: #111
      div > .views-field
        +headertext(14px,600)
        color: #111
        margin: 0
        padding: 10px 0 0 0
        background-color: transparent
        li
          padding: 5px 0
  .content_bottom
    overflow: hidden
    position: relative
    .arrow-button
      position: absolute
      bottom: 20px
      width: 280px
    .block-ndla-share-top-authors, block-ndla-share-top-authors-global
      margin-left: 0
    .block-views-substart-slideshow-block
      .slick-list
        background-color: $light-grey
        min-height: 370px
      .slick-prev,.slick-next
        position: absolute
        top: 230px
        left: 250px
      .slick-next
        left: auto
        right: 5px

      & > div
        background-color: $light-grey
        margin: 0
        padding: 0
      .views-field-title
        +headertext(16px, 100)
        margin: 20px
      .views-field-body
        margin: 20px
        +headertext(12px, 100)
        a
          +headertext(12px, 100)
    & > div
      margin: 20px 10px 0 10px
      padding: 0
      padding-bottom: 20px
      float: left
      width: 295px
      overflow: hidden
      & > div
        margin: 0 0 10px 0
        padding: 0 0 10px 0
        border-bottom: 1px solid $light-grey
        &:last-child
          border: none
      h2
        +headertext(16px, 100)
        border-bottom: 3px solid $light-grey
      a
        margin: 0
        padding: 0
        color: #111
        +headertext(14px, 600)
        padding: 10px 0 0 0
      li
        margin: 10px 0
        padding: 0 0 0 40px
        color: #111
        +headertext(13px, 400)
        background-color: none
        background-size: 25px 25px
        background-repeat: no-repeat
      .position_1,.position_2,.position_3
        background-size: 25px 25px
        background-repeat: no-repeat
        background-position: 3px 3px
      .position_1
        background-image: url(../images/top_sharer_gold.png)
      .position_2
        background-image: url(../images/top_sharer_silver.png)
      .position_3
        background-image: url(../images/top_sharer_bronze.png)
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid $light-grey
      .position_other
        background-image: url(../images/top_sharer_other.png)
        background-repeat: no-repeat
        background-size: 20px 20px
        background-position: 5px 0px
        margin: 5px 0
        height: 20px
    // Last shared content block
    .views-field-title
      +headertext(14px, 600)
    .views-field-name
      +headertext(14px, 400)
      a
        +headertext(14px, 400)
    .views-field-created
      +headertext(11px, 100)


.page-search
  .sidebar-left
    float: left
    width: 30%
    & > div
      margin: 0 0 20px 0
      padding: 0
    h2
      +headertext(16px,100)
      margin: 0
      padding: 0 0 5px 0
      border-bottom: 3px solid $light-grey

    .block-ndla-solr-ndla-solr-external-search
      +headertext(13px, 200)

    .block-current-search-standard,
    .facetapi-facetapi-links,
    .facetapi-facetapi-checkbox-links,
    .block-ndla-solr-ndla-solr-external-search
      h3
        font-size: 14px
        color: $black
        font-weight: bold
        padding-left: 0
      li
        &:first-child
          border: none
        +headertext(13px, 200)
        list-style: none
        padding: 5px 0
        margin: 5px 0
      a
        color: #111
      input[type="checkbox"]
        width: 15px
        height: 15px
        margin: -1px 4px 0 0
        vertical-align: middle
        cursor: pointer
    .facetapi-limit-link
      +headertext(10px, 100)
  #main-content
    float: right
    width: 65%
    position: relative
    h1
      display: none
    .block-search-api-sorts-search-sorts
      position: absolute
      margin: 0
      padding: 0
      top: 0
      right: 0
      z-index: 10
      label
        +headertext(14px, 400)
      & > *
        margin: 0
        padding: 0


    .search-api-page-results
      position: relative
      h2
        +headertext(16px, 600)
        padding: 0
        margin: 0 0 10px 0
        border-bottom: 3px solid $light-grey
      .search-performance
        position: absolute
        margin: 0
        padding: 0
        top: 3px
        left: 130px
        color: $dark-grey
        +headertext(12px, 100)
      .search-results
        padding: 0
        margin: 0
        width: 100%
        +headertext(14px)
        p
          margin: 0
          padding: 0
        h3.title
          margin: 0
          padding: 0
          a
            +headertext(18px, 600)
            color: #111

        .search-snippet-info
          +headertext(13px)
          padding: 0
          margin: 0
        .search-info
          +headertext(13px)
          color: $dark-grey
      .item-list-pager
        margin: 10px 0 0 0
        padding: 10px 0 0 0
        border-top: 5px solid $light-grey
        li
          padding: 4px 8px
          margin: 0
          a
            color: #111
            +headertext(14px, 400)
        .current
          color: $white
          background-color: $main-color
          +border-radius(3px)
/**
 * Tables
 */

table, mceItemTable
  width: 100%
  max-width: 100%


/**
 * Fieldset
 */


body.page-resource-map
  #main-content
    h1
      display: none
  div#canvas
    position: relative
    width: 980px

  div.item
    background-color: white
    padding: 10px
    margin: 0
    position: absolute
    background-color: $main-color
    display: block
    +border-radius(6px)
    *
      +headertext
      margin: 0 auto
      padding: 0 5px
      color: $white
      text-align: center
      font-weight: 800
    a
      display: block
      text-align: center
      color: $light-grey
      text-decoration: underline
      font-weight: 200
  div.item h2, div.item a
    margin: 0px

.contextual-links-processed
  display: none !important

.node-type-common-course, .deling.node-type-frontpage
  .content_bottom
    a.arrow-button
      margin-top: 20px
      padding: 0 0 0 10px
      display: block
      color: white
      background-color: $main-color
      height: 30px
      line-height: 30px
      div
        box-sizing: border-box
        height: 0
        width: 0
        float: right
        border-top: 15px solid white
        border-left: 10px solid $main-color
        border-right: 0
        border-bottom: 15px solid white
.top-authors
  ul
    float: left
    width: 100%
    li
      padding-left: 40px
      margin-bottom: 5px
      a
        +headertext(14px, 600)
      +headertext(13px, 400)
      &.position_1,&.position_2,&.position_3
        background-size: 25px 25px
        background-repeat: no-repeat
        background-position: 3px 3px
      &.position_1
        background-image: url(../images/top_sharer_gold.png)
      &.position_2
        background-image: url(../images/top_sharer_silver.png)
      &.position_3
        background-image: url(../images/top_sharer_bronze.png)
      &.position_other
        background-image: url(../images/top_sharer_other.png)
        background-repeat: no-repeat
        background-size: 20px 20px
        background-position: 5px 0px
        margin: 5px 0
.ndla-share-top-authors
  ul
    width: 50%

.block-system-help
  color: $dark-grey
  border: 5px solid $light-grey
  padding: 0 20px 0 20px

/**
 * TinyMCE
 */

.mceContentBody
  ul, ol
    margin: 0 1.5em 1.5em 1.5em
    padding: 0

  li ul, li ol
    margin: 0 1.5em

  ul, ul li
    list-style-type: disc

  ol, ol li
    list-style-type: decimal

// Override file icon for all
// filetypes
.file a.file-icon
  background: none
  padding: 2px
  &:before
    margin-right: 5px
    +fontawsome('\f016')

#ndla_contact_form
  label
    color: $black

.resources, .page article .resources
  padding-bottom: 10px
  border-bottom: 1px solid $light-grey
  width: 620px
  h2
    +headertext
    font-weight: 900
    margin-bottom: 10px
    display: block
    +clearfix
  .field, .field-items
    border: 0
    margin: 0
  .field-item, > .field-type-file, > .field-type-url
    margin-bottom: 8px
  .field-type-url
    a
      font-size: 14px
      &:before
        +fontawsome('\f0c1')
        margin-left: 3px
        margin-right: 3px
  .file
    .file-icon
      display: none
    .file-size
      +normaltext(10px)
      color: $dark-grey
    a
      background: none
      &:before
        margin-right: 5px
        +fontawsome('\f016')

a.ndla-contact-button
  background-color: $main-color !important

.current-search-item-text
  display: none

a.facet-deactivate
  display: inline-block
  &:hover
    &:before
      color: $black
  &:before
    color: $main-color
    margin-top: 2px
    margin-right: 5px
    +fontawsome('\f00d')

.page-search .sidebar-left h2
  background: $main-color
  padding-left: 20px
  padding-right: 20px
  padding-top: 10px
  padding-bottom: 10px
  color: $white
  border-bottom: none

/* override css for chosen.js */
.share .chosen-container .chosen-results
  max-height: 300px

span.username
  text-transform: capitalize

/* override css for eu compliance popup */
#sliding-popup
  opacity: 0.90
  .popup-content #popup-buttons button
    border-radius: 0px
    border: 0
    box-shadow: none
    text-shadow: none

/* override css for h5p lists */
.h5p-content
  ul
    padding: 0 !important
    li
      list-style: none !important

.MathJax
  span
    margin: 0 !important
    overflow: visible !important
