/* Node Forms */
.page
  .node-form
    +normaltext(14px)
    border: 5px solid $light-grey
    padding: 20px
    margin-top: 10px
    label
      color: $black
    .group-resources
      border: 5px solid $light-grey
      padding: 40px 10px 40px 10px
      margin-top: 15px
      &.collapsed
        padding: 10px
      .fieldset-legend
        padding: 10px
        .fieldset-title
          margin-left: 5px
          color: $black
      .form-item
        margin: 15px 0 15px 0
    .field-type-url #field-url-add-more-wrapper .form-wrapper .fieldset-legend,
    .tabledrag-toggle-weight
      display: none
    .field-type-url
      .field-value-url, .field-value-title
        width: 100%
    #edit-submit
      background: $main-color
      color: #FFF
    .droppable
      width: 100%
      border: 5px solid $light-grey
      color: #000
    .label-description
      margin: 0 0 3px 0
    .form-item
      margin: 15px 0 0 0
    .form-select, .form-text
      font-weight: 500
      padding: 5px
      border: 0
      box-sizing: border-box
      font-size: 1.2em
      background-color: $light-grey
      background-position: 100% 12px
    .form-text
      width: 100%
    .form-select
      height: 36px
      display: block
      +normaltext(14px)
    .form-wrapper
      label
        color: #000
        display: block
        +normaltext(14px)
        font-weight: 900
    .field-type-file
      border: 0px
      .fieldset-legend
        display: none
    .form-submit, .droppable-browse-button
      padding: 10px
      margin-right: 5px
      background: $light-grey
      color: #000
      border: 0
    .form-radios, .form-type-checkboxes, .form-type-select, .filter-help, .form-type-checkbox
      label
        display: inline-block
    table
      .handle
        width: 23px
        height: 23px
    .filter-help .form-type-select
      margin-top: 0
    .field-value .form-item, td .form-item,
    .form-type-textarea .form-type-select,
    .text-format-wrapper .form-type-select
      margin: 0
    #edit-h5p-type
      padding-bottom: 10px
      .form-item
        margin: 5px 15px
    table 
      width: 100%
      font-size: 0.923em
      border-bottom: 5px solid $light-grey
      tbody
        box-sizing: border-box
        margin: 0
        border: 5px solid $light-grey
    td, th
      vertical-align: middle
      padding: 5px 5px
      border: 0
      color: #000
    th
      font-weight: normal
      border-bottom: 5px
      border-style: solid
      border-color: $light-grey
      padding: 3px 10px
    tr.even, tr.odd
      border-color: #bebfb9
      background: #fff
      vertical-align: baseline
    tr.drag
      background: #fff
    tr.drag-previous
      background: #ffb
    fieldset
      border: 0
      position: relative
      padding: 0
      .form-item
      legend
        width: auto
      .fieldset-legend 
        padding: 15px 5px
        position: absolute
        text-transform: uppercase
        font-size: 1em
        font-weight: bold
      .fieldset-wrapper
        legend
          margin-bottom: 15px
      .collapsed 
        background-color: transparent
      html.js fieldset.collapsed 
        border-width: 1px
        height: auto
      fieldset
        background-color: #fff
        padding: 0 0px
        fieldset
          background-color: #f8f8f8
    .filter-wrapper
      border: 1px solid $dark-grey
      border-top: 0
      .fieldset-wrapper
        padding: 0